.photosSectionTextWrapper {
    margin: 2em 0;
}

@media screen and (max-width: 780px) {
    .carousel {
        height: 250px !important;

        >div {
            height: 250px !important;
        }
    }
}