.navbarItems {
    display: flex;
    align-items: center;
    gap: 1em;

    transition: all .3s ease-in;
}

.navbarItem {

    &.active {
        color: #012E4A;
    }

    &:hover {
        opacity: 0.8;
    }
}