.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    background-color: #333;
    padding: 64px 32px;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3em;
    flex-wrap: wrap;
}

.footerLinks {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.footerContacts {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 0.5em;
}

.footerContact {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: #FFF;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
}

.footerLink {
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid transparent;

    &.active {
        border: 1px solid #ffffff;
        color: #ffffff;
    }

    &:hover {
        opacity: 0.8;
    }
}

@media screen and (max-width: 920px) {
    .footerContacts {
        width: 100%;
    }
}