.gallerySectionWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 780px) {
    .carousel {
        height: 250px !important;

        >div {
            height: 250px !important;
        }
    }
}